@font-face {
    font-family: 'Noto';
    font-weight: 400;
    src: url(/gl_geniolibre/static/src/fonts/NotoEmoji-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto_Color';
    font-weight: 400;
    src: url(/gl_geniolibre/static/src/fonts/NotoColorEmoji-Regular.ttf) format('truetype');
}
.emojis {
    font-family: 'Lato','Noto',,'Noto_Color';
}
